@use "base/mixins" as m;
@use "base/variables" as v;

.cta_banner{
    background: v.$skyblue;
    @include m.tablet{
        padding-block: 60px;
    }
    &-grid{
        @media (min-width: v.$laptop){
            display: grid;
            grid-template-columns: m.px-to-vw(230px) 1fr m.px-to-vw(230px);
        }
        @include m.laptop{
         
        }
        &>*{
            width: 100%;
        }
        &>img{
            aspect-ratio: 9/11.974;
            object-fit: cover;
            object-position: center;

            &:last-child{
                margin-top: auto;
            }
        }
    }
    &-content{
        @include m.pblock200;

        img{
            display: block;
            margin-inline: auto;
            @media (min-width: v.$laptop){
                width: m.px-to-vw(44.28px);
                margin-bottom: m.px-to-vw(24px);
            }
            @include m.laptop{
                width: 37px;
                margin-bottom: 18px;
            }
        }
    }
    h2{
        @include m.h2;
        text-align: center;
    }
    a{
        @include m.button;
        margin: m.px-to-vw(40px) auto 0;
    }
}