@use 'variables' as v;
@use 'mixins' as m;

html{
    overflow-x: hidden;
}

body{
    font-size: 16px;
    background: #FAFBFB;
}

picture{
    display: block;
}

.w-100{width: 100%;}
.h-100{height: 100%;}
.wh-100{
    @extend .w-100;
    @extend .h-100;
}

img{
    vertical-align: top;
    height: auto;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

a, button, input[type="submit"]{
    cursor: pointer;
    @include m.transition;
}

main, section, header, footer, aside, nav{
    width: 100%;
}

a{
    text-decoration: none;
}

textarea, button, input, select, option {
    outline: none;
}

.container{
    @media (min-width: v.$laptop){
        width: 100%;
        max-width: m.px-to-vw(1280px);
    }
    @include m.laptop{
        width: 92%;
    }
    margin-inline: auto;
}

.d-block, a{
    display: block;
}

video{
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
}