@use 'variables' as v;
@use 'mixins' as m;

html{
    overflow-x: hidden;
}

body{
    font-size: 16px;
    background: #FAFBFB;

    @media (max-width: 654px){
        overflow-x: hidden;
    }
}

picture{
    display: block;
}

.w-100{width: 100%;}
.h-100{height: 100%;}
.wh-100{
    @extend .w-100;
    @extend .h-100;
}

img{
    vertical-align: top;
    height: auto;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

a, button, input[type="submit"]{
    cursor: pointer;
    @include m.transition;
}

main, section, header, footer, aside, nav{
    width: 100%;
}

a{
    text-decoration: none;
}

textarea, button, input, select, option {
    outline: none;
}

.container{
    @media (min-width: v.$laptop){
        width: 100%;
        max-width: m.px-to-vw(1280px);
    }
    @include m.laptop{
        width: 92%;
    }
    margin-inline: auto;
}

.d-block, a{
    display: block;
}

video{
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
}

.d-none{
    display: none !important;
}


.successful{
    height: 100vh;
    background: v.$white;
    @media (min-width: v.$laptop){
        padding-top: m.px-to-vw(100px);
    }
    @include m.laptop{
        padding-top: 80px;
    }
    &_content{
        width: 100%;
        @media (min-width: v.$laptop){
            max-width: m.px-to-vw(570px);
        }
        @include m.laptop{
            max-width: 500px;
        }
        margin-inline: auto;

        &>*{
            text-align: center;
        }
    }
    .content{
        width: 100%;
        @media (min-width: v.$laptop){
            margin-block: m.px-to-vw(48px);
        }
        @include m.laptop{
            margin-block: 2.1rem;
        }

        &>*{
            &:not(:last-child){
                @media (min-width: v.$laptop){
                    margin-bottom: m.px-to-vw(24px);
                }
                @include m.laptop{
                    margin-bottom: 18px;
                }
            }
        }
    }
    h1{
        @include m.h2;
    }
    p{
        @include m.subheadingP2(v.$secondary);
        b, strong, span{
            font-weight: 700;
        }
    }
    a{
        @include m.button;
        margin-inline: auto;
        background: v.$primary;
        color: v.$white;
    }
}