@use 'variables' as v;

/** Media Queries **/
@mixin phone {
    @media (max-width: v.$phone) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: v.$tablet) {
        @content;
    }
}
@mixin tabletlg {
    @media (max-width: v.$tabletlg) {
        @content;
    }
}
@mixin notebook {
    @media (max-width: v.$notebook) {
        @content;
    }
}
@mixin laptop {
    @media (max-width: v.$laptop) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: v.$desktop) {
        @content;
    }
}
@mixin pc {
    @media (max-width: v.$pc) {
        @content;
    }
}
@mixin tv {
    @media (max-width: v.$tv) {
        @content;
    }
}

@mixin transition($s: .3s) {
    transition: all $s ease;
}

@mixin flex($prop, $gap){
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: $prop;
    gap: $gap;
}

@mixin grid($n, $gap){
    display: grid;
    grid-template-columns: repeat($n, 1fr);
    grid-gap: $gap;
}

@mixin centerX{
    left: 50%;
    transform: translateX(-50%);
}

@mixin centerY{
    top: 50%;
    transform: translateY(-50%);
}

@mixin centerXY{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin fullWH{
    width: 100%;
    height: 100%;
}

@mixin square($size){
    display: block;
    width: $size;
    height: $size;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
}

@mixin lines($n){
    display: -webkit-box;
    -webkit-line-clamp: $n;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@function px-to-vw($val) {
    $num: calc($val / 1px);
    $base: 1440;
    $res: calc(($num / $base) * 100 * 1vw);
    @return $res;
}

@mixin h1($color: v.$primary){
    color: $color;
    font-family: v.$sailing;
    font-weight: 400;
    text-transform: uppercase;
    @media (min-width: v.$laptop){
        font-size: px-to-vw(48px);
        line-height: px-to-vw(58px);
        letter-spacing: px-to-vw(0.96px);
    }
    @include laptop{
        letter-spacing: 0.96px;
        font-size: 3rem;
        line-height: 58px;    
    }
}

@mixin h2($color: v.$primary){
    color: $color;
    font-family: v.$sailing;
    font-weight: 400;
    text-transform: uppercase;
    @media (min-width: v.$laptop){
        font-size: px-to-vw(40px);
        line-height: px-to-vw(48px);
        letter-spacing: px-to-vw(0.8px);
    }
    @include laptop{
        font-size: 2.25rem;
        line-height: 48px;    
        letter-spacing: 0.8px;
    }
}

@mixin mb70{
    @media (min-width: v.$laptop){
        margin-bottom: px-to-vw(70px);
    }
    @include laptop{
        margin-bottom: 50px;
    }
}

@mixin mb60{
    @media (min-width: v.$laptop){
        margin-bottom: px-to-vw(60px);
    }
    @include laptop{
        margin-bottom: 40px;
    }
}

@mixin h2center($mb: true){
    @include h2;
    text-align: center;

    @if($mb){
        @include mb70;
    }@else{
        @include mb60;
    }
}

@mixin h3($color: v.$primary){
    color: $color;
    font-family: v.$sailing;
    font-weight: 400;
    @media (min-width: v.$laptop){
        font-size: px-to-vw(32px);
        line-height: px-to-vw(38px);
        letter-spacing: px-to-vw(0.32px);
    }
    @include laptop{
        font-size: 1.7rem;
        line-height: 38px;
        letter-spacing: 0.32px;
    }
}

@mixin minih3($color: v.$primary){
    color: $color;
    font-family: v.$sailing;
    font-weight: 400;
    @media (min-width: v.$laptop){
        font-size: px-to-vw(30px);
        line-height: px-to-vw(36px);
        letter-spacing: px-to-vw(0.32px);
    }
    @include laptop{
        font-size: 1.55rem;
        line-height: 36px;
        letter-spacing: 0.32px;
    }
}

@mixin h4($color: v.$primary){
    color: $color;
    font-family: v.$sailing;
    font-weight: 400;
    @media (min-width: v.$laptop){
        font-size: px-to-vw(28px);
        line-height: px-to-vw(34px);
        letter-spacing: 1%;
    }
    @include laptop{
        font-size: 1.25rem;
        line-height: 34px;
    }
}

@mixin minih4($color: v.$primary){
    color: $color;
    font-family: v.$sailing;
    font-weight: 400;
    @media (min-width: v.$laptop){
        font-size: px-to-vw(24px);
        line-height: px-to-vw(29px);
        letter-spacing: px-to-vw(0.32px);
    }
    @include laptop{
        font-size: 1.15rem;
        line-height: 29px;
        letter-spacing: 0.32px;
    }
}

@mixin h6($color: v.$primary){
    font-family: v.$sailing;
    color: $color;
    font-weight: 400;
    @media (min-width: v.$laptop){
        font-size: px-to-vw(20px);
        line-height: px-to-vw(24px);
        letter-spacing: -1%;
    }
    @include laptop{
        font-size: 18px;
        line-height: 24px;
    }
}

@mixin h8($color: v.$primary){
    font-family: v.$sailing;
    color: $color;
    text-transform: uppercase;
    font-weight: 400;
    @media (min-width: v.$laptop){
        font-size: px-to-vw(16px);
        line-height: px-to-vw(19px);
        letter-spacing: px-to-vw(0.32px);
    }
    @include laptop{
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.32px;
    }
}

@mixin subheadingP1($color: v.$primary){
    font-family: v.$gotham;
    color: $color;
    font-weight: 400;
    @media (min-width: v.$laptop){
        font-size: px-to-vw(18px);
        line-height: px-to-vw(30px);
        letter-spacing: -1%;
    }
    @include laptop{
        font-size: 16px;
        line-height: 30px;
    }
}

@mixin subheadingP2($color: v.$primary){
    font-family: v.$gotham;
    color: $color;
    font-weight: 400;
    @media (min-width: v.$laptop){
        font-size: px-to-vw(16px);
        line-height: px-to-vw(28px);
    }
    @include laptop{
        font-size: 16px;
        line-height: 28px;
    }
}

@mixin subheadingP3($color: v.$primary, $font: v.$gotham){
    font-family: $font;
    color: $color;
    font-weight: 400;
    @media (min-width: v.$laptop){
        font-size: px-to-vw(14px);
        line-height: px-to-vw(26px);
    }
    @include laptop{
        font-size: 14px;
        line-height: 26px;
    }
}

@mixin button($link: true, $color: v.$primary){

    @if($link){
        color: $color;
        @media (min-width: v.$laptop){
            border: px-to-vw(1px) solid v.$primary;
            font-size: px-to-vw(16px);
            padding: px-to-vw(12px) px-to-vw(18px);
            letter-spacing: px-to-vw(0.32px);
        }
        @include laptop{
            letter-spacing: 0.32px;
            border: 1px solid v.$primary;
            font-size: 16px;
            padding: 12px 18px;
        }
        font-family: v.$iciel;
        font-weight: 300;
        text-transform: uppercase;
        width: fit-content;
        background: transparent;
        &:is(:hover, :focus){
            background: v.$primary;
            color: v.$white;
        }
    }@else{
        color: $color !important;
        @media (min-width: v.$laptop){
            border: px-to-vw(1px) solid v.$primary !important;
            font-size: px-to-vw(16px) !important;
            padding: px-to-vw(12px) px-to-vw(18px) !important;
            letter-spacing: px-to-vw(0.32px) !important;
        }
        @include laptop{
            border: 1px solid v.$primary !important;
            font-size: 16px !important;
            padding: 12px 18px !important;
            letter-spacing: 0.32px !important;
        }
        font-family: v.$iciel !important;
        font-weight: 300 !important;
        text-transform: uppercase !important;
        border-radius: 0 !important;
        width: fit-content !important;
        background: transparent !important;
        box-shadow: none !important;
        &:is(:hover, :focus){
            background: v.$primary !important;
            color: v.$white !important;
        }
    }
}

@mixin pblock150{
    position: relative;
    @media (min-width: v.$laptop){
        padding-block: px-to-vw(150px);
    }
    @include laptop{
        padding-block: 116px;
    }
    @include tablet{
        padding-block: 80px;
    }
}

@mixin pblock200{
    position: relative;
    @media (min-width: v.$laptop){
        padding-block: px-to-vw(200px);
    }
    @include laptop{
        padding-block: 200px;
    }
    @include tabletlg{
        padding-block: 100px;
    }
}