@use "base/mixins" as m;
@use "base/variables" as v;

.hero{
    &_colours{
        background: v.$gray;

        h1{
            @include m.h1;
            @media (min-width: v.$laptop){
                max-width: m.px-to-vw(400px);
            }
            @include m.laptop{
                
            }
        }

        @media (min-width: v.$laptop){
            display: grid;
            grid-template-columns: 1fr m.px-to-vw(692px);
            height: m.px-to-vw(800px);
            padding-bottom: m.px-to-vw(60px);
        }
        @include m.laptop{
            
            padding-bottom: 40px;
        }
        @include m.tablet{
            overflow: hidden;
        }

        &>*{
            @media (min-width: v.$laptop){
                @include m.fullWH;
            }
            @include m.laptop{
                width: 100%;
            }
        }
        &-title{
            @media (min-width: v.$laptop){
                padding-left: m.px-to-vw(134px);
                padding-top: m.px-to-vw(150px);
            }
            @include m.laptop{
                padding-top: 5rem;
                padding-left: 4%;
            }
            @include m.tabletlg{
                padding-bottom: 2rem;
            }
        }
        &-image{
            img{
                @include m.fullWH;
                object-fit: cover;
                object-position: center;
            }
        }
        .absolute{
            bottom: 0;
            @media (min-width: v.$laptop){
                left: m.px-to-vw(217.76px);
                width: m.px-to-vw(625.24px);
                height: m.px-to-vw(390px);
            }
            @include m.laptop{
                left: 6.5%;
                width: 500px;
                aspect-ratio: 16/9;
            }
            object-fit: cover;
            object-position: center;
        }
    }
}

.case_studies{
    @media (min-width: v.$laptop){
        padding-block: m.px-to-vw(200px) m.px-to-vw(50px);
    }
    @include m.laptop{
        padding-block: 200px 50px;
    }
    @include m.tabletlg{
        padding-block: 100px 50px;
    }
    @include m.tablet{
        padding-block: 80px 20px;
    }

    h2{
        @include m.h2center;
    }
}

%mb16{
    @media (min-width: v.$laptop){
        margin-bottom: m.px-to-vw(16px) !important;
    }
    @include m.laptop{
        margin-bottom: 12px !important;
    }
}

.wheel{
    @media (min-width: v.$laptop){
        padding-top: m.px-to-vw(200px);
    }
    @include m.laptop{
        padding-top: 200px;
    }
    @include m.tabletlg{
        padding-top: 100px;
    }
    h2{
        @include m.h2center;
        @extend %mb16;
    }
    h3{
        @include m.h3;
    }
    p{
        @include m.subheadingP2(v.$secondary);
    }
    &_head{
        @include m.mb70;
        p{
            text-align: center;
        }
    }
    svg, img{
        display: block;
        width: 100%;
        height: auto;
        @media (min-width: v.$laptop){
            max-width: m.px-to-vw(869px);
        }
        @include m.laptop{
            max-width: 789px;
        }
        margin-inline: auto;
        @include m.mb70;
    }
    &_list{
        width: 100%;
        @media (min-width: v.$laptop){
            padding-inline: m.px-to-vw(48px);
        }
        @include m.laptop{
            padding-inline: 2.1rem;
        }
        @include m.tablet{
            padding-inline: 1rem;
        }
        div{
            width: 100%;
            @media (min-width: v.$laptop){
                display: grid;
                grid-template-columns: 1fr m.px-to-vw(800px);
            }
            @include m.laptop{
                
            }

            &>*{
                @media (min-width: v.$laptop){
                    padding-block: m.px-to-vw(10px);
                }
                @include m.laptop{
                    padding-block: 8px;
                }
            }

            &:not(:last-child){
                @media (min-width: v.$laptop){
                    padding-bottom: m.px-to-vw(32px);
                    margin-bottom: m.px-to-vw(32px);
                    border-bottom: m.px-to-vw(1px) solid rgba($color: v.$primary, $alpha: 0.1);
                }
                @include m.laptop{
                    padding-bottom: 1.5rem;
                    margin-bottom: 1.5rem;
                    border-bottom: 1px solid rgba($color: v.$primary, $alpha: 0.1);
                }
            }
        }
    }
}

%mb48{
    @media (min-width: v.$laptop){
        margin-bottom: m.px-to-vw(48px);
    }
    @include m.laptop{
        margin-bottom: 2.1rem;
    }
}

.case_study{
    &:nth-child(odd){
        @media (min-width: v.$laptop){
            display: grid;
            grid-template-columns: m.px-to-vw(542px) 1fr;
            align-items: center;
        }
        @include m.laptop{
            
        }
        .case_study{
            &-image{
                order: -1;
            }
        }
    }
    &:nth-child(even){
        @media (min-width: v.$laptop){
            display: grid;
            grid-template-columns: 1fr m.px-to-vw(542px);
            align-items: center;
        }
        @include m.laptop{
         
        }
    }
    &>*, img{
        width: 100%;
    }
    &:not(:last-child){
        @include m.mb70;
    }
    &-info{
        @media (min-width: v.$laptop){
            padding-inline: m.px-to-vw(57px);
        }
        @include m.laptop{
            padding-inline: 2.1rem;
        }
        @include m.tabletlg{
            padding-bottom: 40px;
        }
    }
    &-nro{
        span{
            display: block;
            @include m.h8;
            @extend %mb48;
            
            @media (min-width: v.$laptop){
                padding-bottom: m.px-to-vw(48px);
                border-bottom: m.px-to-vw(1px) solid v.$primary;
            }
            @include m.laptop{
                padding-bottom: 2.1rem;
                border-bottom: 1px solid v.$primary;
            }
        }
    }
    h3{
        @include m.h3;
    }
    p, li{
        @include m.subheadingP2(v.$secondary);
    }
    .content{
        &>*{
            &:not(:last-child){
                @extend %mb48;
            }
        }
    }
}

.faq{
    @media (min-width: v.$laptop){
        padding-top: m.px-to-vw(200px);
    }
    @include m.laptop{
        padding-top: 200px;
    }
    @include m.tabletlg{
        padding-top: 100px;
    }
    @include m.tablet{
        padding-top: 80px;
    }
    h2{
        @include m.h2center;
    }
    &_questions{
        width: 100%;
        @media (min-width: v.$laptop){
            max-width: m.px-to-vw(712px);
        }
        @include m.laptop{
            max-width: 672px;
        }
        margin-inline: auto;
    }
    li{
        @media (min-width: v.$laptop){
            padding-block: m.px-to-vw(42px) m.px-to-vw(22px);
        }
        @include m.laptop{
            padding-block: 33px 17px;
        }
        p{
            @include m.subheadingP2(v.$secondary);
        }
        &:first-child{
            padding-top: 0 !important;
        }
        &:not(:last-child){
            @media (min-width: v.$laptop){
                border-bottom: m.px-to-vw(1px) solid v.$secondary;
            }
            @include m.laptop{
                border-bottom: 1px solid v.$secondary;
            }
        }
        .acc_head{
            @media (min-width: v.$laptop){
                @include m.flex(space-between, m.px-to-vw(50px));
                flex-wrap: nowrap;
            }
            @include m.laptop{
                @include m.flex(space-between, 2rem);
                flex-wrap: nowrap;
            }
            @include m.tablet{
                padding-bottom: 0 !important;
            }

            h3{
                @include m.h4;
            }
            svg{
                @media (min-width: v.$laptop){
                    width: m.px-to-vw(13px);
                    height: m.px-to-vw(12px);
                    object-fit: contain;
                }
            }
            @media (min-width: v.$laptop){
                padding-bottom: m.px-to-vw(20px);
            }
            @include m.laptop{
                padding-bottom: 16px;
            }
        }
    }
}

.open_to_you{
    @include m.pblock200;
    @include m.tablet{
        padding-block: 80px;
    }
    a{
        @include m.button;
        margin-inline: auto;
    }
    h2{
        @include m.h2center;
    }
    h3{
        @include m.minih3;
    }
    h2, h3{
        @extend %mb16;
    }
    &-head{
        width: 100%;
        @include m.mb70;
        @media (min-width: v.$laptop){
            max-width: m.px-to-vw(795px);
        }
        @include m.laptop{
            max-width: 700px;
        }
        margin-inline: auto;
        p{
            text-align: center;
            @include m.subheadingP2(v.$secondary);
            @media (min-width: v.$laptop){
                max-width: m.px-to-vw(576px);
            }
            @include m.laptop{
                max-width: 500px;
            }
            margin-inline: auto;
        }
    }
    &-box{
        @include m.mb70;
        @media (min-width: v.$laptop){
            display: grid;
            grid-template-columns: m.px-to-vw(630px) 1fr;
            align-items: center;
        }
        @include m.laptop{
            @include m.grid(2, 0);
            align-items: center;
        }
        @include m.tablet{
            @include m.grid(1, 2rem);
        }
        &>*{
            width: 100%;
        }
        img {
            @include m.tabletlg{
                height: 100%;
                object-fit: cover;
             }
        }
    }
    &-list{
        @media (min-width: v.$laptop){
            padding-left: m.px-to-vw(48px);
        }
        @include m.laptop{
            padding-left: 2rem;
        }
        @include m.tablet{
            padding-left: 0;
        }
        p{
            @include m.subheadingP1(v.$secondary);
        }
        div{
            &:not(:last-child){
                @media (min-width: v.$laptop){
                    margin-bottom: m.px-to-vw(38px);
                }
                @include m.laptop{
                    margin-bottom: 1.75rem;
                }
            }
        }
    }
}

%pag{
    width: 100%;
    @media (min-width: v.$laptop){
        height: m.px-to-vw(4px);
    }
    @include m.laptop{
        height: 3px;
    }
}

.clothe{
    @media (min-width: v.$laptop){
        width: m.px-to-vw(217.3px);
    }
    @include m.laptop{
        width: calc(100% / 4.17);
    }
    @include m.tabletlg{
        width: calc(100% / 2.2);
    }
    @media (max-width: 550px){
        width: 100%;
    }

    @include m.transition;
    &>*{
        pointer-events: none;
        width: 100%;
        @include m.transition;
    }
    &_image{
        @media (min-width: v.$laptop){
            height: m.px-to-vw(600px);
            margin-bottom: m.px-to-vw(12px);
        }
        @include m.laptop{
            height: 520px;
            margin-bottom: 8px;
        }
    }
    img{
        @include m.fullWH;
        object-fit: cover;
        @include m.transition;
        object-position: top;
    }
    &_info{
        opacity: 0;
        @include m.flex(flex-start, 0);
        @media (min-width: v.$laptop){
            padding-left: m.px-to-vw(20px);
            height: m.px-to-vw(80px);
        }
        @include m.laptop{
            padding-left: 1rem;
            height: 62px;
        }
        @include m.tabletlg{
            opacity: 1 !important;
        }
    }

    &:nth-child(1){
        .clothe{
            &_info{
                background: linear-gradient(90deg, #238640 50%, #59AA32 50%);
            }
        }
    }
    &:nth-child(2){
        .clothe{
            &_info{
                background: linear-gradient(90deg, #009689 50%, #005C70 50%);
            }
        }
    }
    &:nth-child(3){
        .clothe{
            &_info{
                background: linear-gradient(90deg, #535E0E 50%, #A89A00 50%);
            }
        }
    }
    &:nth-child(4){
        .clothe{
            &_info{
                background: linear-gradient(90deg, #009669 50%, #005C39 50%);
            }
        }
    }
}

%actived{
    @media (min-width: v.$laptop){
        width: m.px-to-vw(580px);
    }
    @include m.laptop{
        
    }

    &>*{
        opacity: 1;
    }
}

.clothes{
    @include m.pblock200;
    &_head{
        width: 100%;
        margin-inline: auto;
        @include m.mb70;
        @media (min-width: v.$laptop){
            max-width: m.px-to-vw(750px);
        }
        @include m.laptop{
            max-width: 670px;
        }
        &>*{
            text-align: center;
        }
        h2{
            @include m.h2center;
            @extend %mb16;
        }
    }
    p{
        @include m.subheadingP2;
    }
    a{
        @include m.button;
        @media (min-width: v.$laptop){
            margin-top: m.px-to-vw(24px);
        }
        @include m.laptop{
            margin-top: 18px;
        }
    }
    &_body{
        width: 100%;
    }
    &_footer{
        background: v.$gray;
        @media (min-width: v.$laptop){
            padding: m.px-to-vw(40px) m.px-to-vw(28px);
            
            display: grid;
            grid-template-columns: 1fr m.px-to-vw(488px);
            grid-gap: m.px-to-vw(134px);
        }
        @include m.laptop{
            padding: 2rem 20px;


        }
        &>*{
            width: 100%;
        }
    }
    .pagination{
        @extend %pag;
        position: relative;
        background: #F0F3F3;
        @include m.mb70;
        @media (min-width: v.$laptop){
            border-radius: m.px-to-vw(4px);
        }
        @include m.laptop{
            border-radius: 3px;
        }
        &-dot{
            position: absolute;
            @include m.centerY;
            left: 0;
            @extend %pag;
            background: v.$primary;
            @include m.transition;

            @media (min-width: v.$laptop){
                max-width: m.px-to-vw(160px);
                border-radius: m.px-to-vw(2px);
            }
            @include m.laptop{
                max-width: 100px;
                border-radius: 2px;
            }
        }
        @include m.tabletlg{
            display: none;
        }
    }
    &-box{
        @include m.transition;
        @include m.mb70;
        width: 100%;
        @media (min-width: v.$laptop){
            @include m.flex(center, m.px-to-vw(16px));
        }
        @include m.laptop{
            @include m.flex(center, 12px);
        }
        @include m.tabletlg{
            overflow-x: auto;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    h3{
        @include m.minih4(v.$white);
    }
    h4{
        @include m.h3;
    }

    [data-state="1"]{
        .clothe:nth-child(1){
            @extend %actived;
        }
    }
    [data-state="2"]{
        .clothe:nth-child(2){
            @extend %actived;
        }
        .pagination-dot{
            @media (min-width: v.$laptop){
                left: m.px-to-vw(450px);
            }
            @include m.laptop{
                
            }
        }
    }
    [data-state="3"]{
        .clothe:nth-child(3){
            @extend %actived;
        }
        .pagination-dot{
            @media (min-width: v.$laptop){
                left: m.px-to-vw(670px);
            }
            @include m.laptop{
                
            }
        }
    }
    [data-state="4"]{
        .clothe:nth-child(4){
            @extend %actived;
        }
        .pagination-dot{
            @media (min-width: v.$laptop){
                left: calc(100% - m.px-to-vw(160px));
            }
            @include m.laptop{
                left: calc(100% - 100px);
            }
        }
    }
}

.yourself{
    @include m.pblock150;
    background: v.$skyblue;
    position: relative;
    h2{
        @include m.h2;
        @include m.mb70;
    }
    .absolute{
        display: block;
        @include m.centerXY;
        width: 100%;
        pointer-events: none;
        z-index: 2;
        @media (min-width: v.$laptop){
            max-width: m.px-to-vw(373.86px);
        }
        @include m.laptop{
            max-width: 300px;
        }
    }
    .container{
        position: relative;
        z-index: 3;
    }
    h3{
        @include m.h4;
    }
    p{
        @include m.subheadingP2;
    }
    .mb60{
        @media (min-width: v.$laptop){
            margin-bottom: m.px-to-vw(60px);
        }
        @include m.laptop{
            margin-bottom: 42px;
        }
    }
    &-content{
        width: 100%;
    }
    &-legend{
        position: relative;
        @media (min-width: v.$laptop){
            margin-bottom: m.px-to-vw(48px);
        }
        @include m.laptop{
            margin-bottom: 2.1rem;
        }
        h3{
            position: relative;
            z-index: 3;
            width: fit-content;
            @media (min-width: v.$laptop){
                padding-right: m.px-to-vw(70px);
            }
            @include m.laptop{
                padding-right: 50px;
            }
            background: v.$skyblue;
        }
        div{
            position: absolute;
            width: 100%;
            background: v.$primary;
            @include m.centerY;
            @media (min-width: v.$laptop){
                height: m.px-to-vw(1px);
            }
            @include m.laptop{
                height: 1px;
            }
        }
    }
    &-list{
        li{
            list-style: none;
            @media (min-width: v.$laptop){
                display: grid;
                grid-template-columns: m.px-to-vw(743px) 1fr;
                grid-gap: m.px-to-vw(130px);
                align-items: center;
            }
            @include m.laptop{
                
            }
            div{
                width: 100%;
            }
            &:not(:last-child){
                @media (min-width: v.$laptop){
                    margin-bottom: m.px-to-vw(24px);
                }
                @include m.laptop{
                    margin-bottom: 18px;
                }
            }
        }
        span{
            display: block;
            @include m.subheadingP1;
            font-weight: bold;
        }
    }
}

.it_works{
    background: rgba($color: v.$skyblue, $alpha: 0.2);
    @media (min-width: v.$laptop){
        padding: m.px-to-vw(80px) m.px-to-vw(50px);
    }
    @include m.laptop{
        padding: 60px 3%;
    }
    &-container{
        width: 100%;
        background: v.$skyblue;
        @media (min-width: v.$laptop){
            padding: m.px-to-vw(120px) m.px-to-vw(80px);
        }
        @include m.laptop{
            padding: 100px 60px;
        }
        @include m.tablet{
            padding: 50px 20px;
        }
    }
    h2{
        @include m.h2center;
    }
    h3{
        @include m.h3;
        letter-spacing: .5px;
    }
    p{
        @include m.subheadingP2;
    }
    &-grid{
        position: relative;
        z-index: 2;
        &.top{
            @media (min-width: v.$laptop){
                display: grid;
                grid-template-columns: m.px-to-vw(600px) 1fr;
                grid-gap: m.px-to-vw(48px);
                align-items: center;
    
                margin-bottom: m.px-to-vw(48px);
            }
            @include m.tabletlg{
                display: grid;
                grid-template-columns: m.px-to-vw(600px) 1fr;
                grid-gap: m.px-to-vw(48px);
                align-items: center;
    
                margin-bottom: m.px-to-vw(48px);
            }
            @include m.laptop{
                margin-bottom: 2.1rem;
            }
            @include m.tablet{
               display: block;
            }

            img{
                @media (min-width: v.$laptop){
                    height: m.px-to-vw(738px);
                    object-fit: cover;
                    object-position: center;
                }
                @include m.laptop{
                    height: 100%;
                    object-fit: cover;
                }
                @include m.tabletlg{
                    margin-bottom: 40px;
                }
            }
        }
        &.bottom{
            @media (min-width: v.$laptop){
                display: grid;
                grid-template-columns: 1fr m.px-to-vw(600px);
                grid-gap: m.px-to-vw(28px);
                align-items: flex-end;
                margin-top: m.px-to-vw(-56px);
                padding-right: m.px-to-vw(20px);
            }

            @include m.laptop{
                margin-top: 40px;
                display: grid;
                grid-template-columns: 1fr m.px-to-vw(600px);
                grid-gap: m.px-to-vw(28px);
                align-items: flex-end;
                margin-top: m.px-to-vw(50px);
                padding-right: 0;
            }
            @include m.tablet{
                display: block;
             }
            img{
                @media (min-width: v.$laptop){
                    height: m.px-to-vw(780px);
                    object-fit: cover;
                    object-position: bottom;
                }
                @include m.laptop{
                    height: 100%;
                    object-fit: cover;
                    object-position: bottom;
                }
            }
            div{
                @media (min-width: v.$laptop){
                    padding-bottom: m.px-to-vw(100px);
                }
                @include m.laptop{
                    padding-top: 40px;
                    padding-bottom: 40px;
                }
                @include m.tablet{
                    padding-bottom: 30px;
                }
            }
        }

        &>*{
            width: 100%;
        }
        div{
            &>*{
                &:not(:last-child){
                    @media (min-width: v.$laptop){
                        margin-bottom: m.px-to-vw(48px);
                    }
                    @include m.laptop{
                        margin-bottom: 2.1rem;
                    }
                }
            }
        }
    }
    &-banner{
        width: 100%;
        @media (min-width: v.$laptop){
            height: m.px-to-vw(600px);
        }
        @include m.laptop{
            height: 500px;
        }
        object-fit: cover;
        object-position: center;
    }
}